#__author__ = "happyin3"#

###############
#    folder   #
###############
static/images/*

windows/*.txt
windows/*.net
###############
#  fixed file #
###############
*.pyc
*.zip

###############
#  temp file  #
###############
*.log
*.ini
*.tmp


