<!doctype html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/static/css/basic.css">
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/test.js" type="text/javascript"></script>
    </head>
    <body style="text-align: center;">
        <div id="mainsearch" style=" position:absolute">
            输入论文连接：
            <input type="text" id="thesislink" />
            <input type="button" id="thesis" name="thesis" value="论文查询"/>
            输入专利号:
            <input type="text" id="patentno" />
            <input type="button" id="patent" name="patent" value="专利查询">
        </div>

        <!--
        <div id="flowsearch" style="display:none; position:absolute;">
            输入论文连接：
            <input type="text" id="thesislink" />
            <input type="button" id="thesis" name="thesis" value="论文查询"/>
            输入专利号:
            <input type="text" id="patentno" />
            <input type="button" id="patent" name="patent" value="专利查询">
        </div>
        -->

        <div>
            <img src="" />
        </div>
    </body>
</html>
